services:
  frontend:
    build:
      context: ./frontend
      target: development
    container_name: frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      VITE_API_URL: http://backend:8000
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - dev-network

  backend:
    build:
      context: ./backend
    container_name: backend
    env_file:
      - ./backend/.env
    environment:
      - "TEMPLATES_DIR=/app/templates"
    ports:
      - "8000:8000"
    volumes:
      - "./backend/src:/app/src"
      - "./backend/experiments:/app/experiments"
      - "./backend/models/onnx_models:/root/.cache/chroma/onnx_models"
      - "./backend/templates:/app/templates"
    restart: no
    depends_on:
      - chroma
    networks:
      - dev-network

  chroma:
    image: chromadb/chroma
    volumes:
      - chroma-data:/data
    expose:
      - "8000"
    ports:
      - "8004:8000"
    networks:
      - dev-network

volumes:
  chroma-data:
networks:
  dev-network:
    driver: bridge
