services:
  backend:
    image: mrkan0/ai-lawyer-backend:latest
    env_file:
      - ./backend/.env
    environment:
      - "TEMPLATES_DIR=/app/templates"
      - "RESULTS_DIR=/app/results"
    ports:
      - "8000:8000"
    volumes:
      - "./backend/templates:/app/templates"
      - "./backend/results:/app/results"
    restart: unless-stopped
    depends_on:
      - chroma
      - postgres

  postgres:
    image: postgres:15
    env_file:
      - ./backend/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  chroma:
    image: chromadb/chroma
    volumes:
      - chroma-data:/data
    expose:
      - "8000"
    ports:
      - "8004:8000"

  frontend:
    build:
      context: ./frontend
      target: development
    ports:
      - "5173:5173"
    volumes:
      - "./frontend:/app"
      - "/app/node_modules"
    environment:
      - VITE_API_URL=http://localhost:8000

    depends_on:
      - backend
    restart: no

volumes:
  chroma-data:
  node_modules:
  postgres_data:
