services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    environment:
      - "TEMPLATES_DIR=/app/templates"
      - "RESULTS_DIR=/app/results"
      - "BACKEND_URL=http://localhost:8000"
      - "FRONTEND_URL=http://localhost:5173"
    ports:
      - "8000:8000"
    volumes:
      - "./backend/src:/app/src"
      - "./backend/experiments:/app/experiments"
      - "./backend/models/onnx_models:/root/.cache/chroma/onnx_models"
      - "./backend/templates:/app/templates"
      - "./backend/results:/app/results"
    restart: no
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s
    depends_on:
      postgres:
        condition: service_healthy
      chroma:
        condition: service_healthy


  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    build:
      context: ./frontend
      target: development
      dockerfile: dev.Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - "./frontend:/app"
      - "/app/node_modules"
    environment:
      - VITE_API_URL=http://localhost:8000

    depends_on:
      - backend
    restart: no

  chroma:
    image: chromadb/chroma
    volumes:
      - ./chroma_data:/data
    expose:
      - "8000"
    ports:
      - "8004:8000"
    healthcheck:
      test: [ "CMD", "/bin/bash", "-c", "cat < /dev/null > /dev/tcp/localhost/8000" ]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  chroma-data:
  node_modules:
  postgres_data:
