name: CI/CD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - run: |
          docker build ./backend -t ${{ secrets.BACKEND_IMAGE }} && \
          docker login docker.io -u "${{ secrets.DOCKERHUB_USER }}" -p "${{ secrets.DOCKERHUB_TOKEN }}" && \
          docker push ${{ secrets.BACKEND_IMAGE }}
          
          
          
